body{
    background-color: rgb(243, 234, 227);
}
.container{
    display: flex;
    justify-content: center;
    height: 500px;
}
.perfume>p{
    margin-left: 10%;
    font-size: 7px;
    color: grey;
}
.perfume>h1{
    margin-left: 10%;
    font-size: 15px;
}
.perfume>h2{
    margin-left: 10%;
    color: green;
    font-size: 10px;
    font-family: "Amita", sans-serif;
}
#old_price{
    color: grey;
    text-decoration: line-through;
    font-size: 5px;
    left: 8px;
    bottom: 2px;
    position: relative;
}
#perf_img{
    width: 120px;
    height: 200px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
#item2{
    width: 120px;
    height: 200px;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    background-color: white;
}
#cart{
    display: block;
    width: 100px;
    height: 25px;
    margin-left: 10%;
    font-size: 7px;
    background-color: green;
    color: white;
    border: solid;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
