body{
    background-color: rgb(243, 234, 227);
}

#container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#perf_img{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
#item2{
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}
#item2>p{
    color: grey;
    margin-left: 10%;
    font-size: 12px;
}
#item2>h1{
    margin-left: 10%;
    font-size: 25px;
}
#old_price{
    color: grey;
    text-decoration: line-through;
    font-size: 10px;
    left: 8px;
    bottom: 8px;
    position: relative;
}
#cart{
    display: block;
    width: 200px;
    height: 40px;
    margin-left: 10%;
    font-size: 14px;
    background-color: green;
    color: white;
    border: solid;
    border-radius: 25px;
}
.perfume>h2{
    display: inline;
    margin-left: 10%;
    color: green;
    font-size: 25px;
    font-family: "Amita", sans-serif;
}
.perfume{
    background-color: white;
    width: 250px;
    height: 330px;
}
img{
    width: 250px;
    height: 330px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
a{
    text-decoration: none;
}

@media (max-width:600px) {
    #container{
        display: flex;
        flex-direction: column;
    }
}